{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2022-09-06",
    "endpointPrefix": "paas",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS PaaS",
    "serviceId": "PaaS",
    "signatureVersion": "v4",
    "uid": "paas-2022-09-06"
  },
  "operations": {
    "CreateService": {
      "name": "CreateService",
      "http": {
        "method": "POST",
        "requestUri": "/services"
      },
      "input": {"shape": "CreateServiceRequest"},
      "output": {"shape": "CreateServiceResponse"},
      "documentation": "<p>Creates service.</p>"
    },
    "DeleteBackups": {
      "name": "DeleteBackups",
      "http": {
        "method": "DELETE",
        "requestUri": "/services/{ServiceId}/backups"
      },
      "input": {"shape": "DeleteBackupsRequest"},
      "output": {"shape": "DeleteBackupsResponse"},
      "documentation": "<p>Deletes service backups.</p>"
    },
    "DeleteService": {
      "name": "DeleteService",
      "http": {
        "method": "DELETE",
        "requestUri": "/services/{ServiceId}"
      },
      "input": {"shape": "DeleteServiceRequest"},
      "output": {"shape": "DeleteServiceResponse"},
      "documentation": "<p>Deletes service.</p>"
    },
    "DescribeBackup": {
      "name": "DescribeBackup",
      "http": {
        "method": "GET",
        "requestUri": "/backups/{BackupId}"
      },
      "input": {"shape": "DescribeBackupRequest"},
      "output": {"shape": "DescribeBackupResponse"},
      "documentation": "<p>Returns descriptive information about backup.</p>"
    },
    "DescribeService": {
      "name": "DescribeService",
      "http": {
        "method": "GET",
        "requestUri": "/services/{ServiceId}"
      },
      "input": {"shape": "DescribeServiceRequest"},
      "output": {"shape": "DescribeServiceResponse"},
      "documentation": "<p>Returns descriptive information about PaaS service.</p>"
    },
    "ListBackups": {
      "name": "ListBackups",
      "http": {
        "method": "GET",
        "requestUri": "/backups"
      },
      "input": {"shape": "ListBackupsRequest"},
      "output": {"shape": "ListBackupsResponse"},
      "documentation": "<p>Lists backups.</p>"
    },
    "ListServices": {
      "name": "ListServices",
      "http": {
        "method": "GET",
        "requestUri": "/services"
      },
      "input": {"shape": "ListServicesRequest"},
      "output": {"shape": "ListServicesResponse"},
      "documentation": "<p>Lists PaaS services.</p>"
    },
    "ModifyService": {
      "name": "ModifyService",
      "http": {
        "method": "PUT",
        "requestUri": "/services/{ServiceId}"
      },
      "input": {"shape": "ModifyServiceRequest"},
      "output": {"shape": "ModifyServiceResponse"},
      "documentation": "<p>Modifies PaaS service.</p>"
    }
  },
  "shapes": {
    "Backup": {
      "type": "structure",
      "members": {
        "Id": {"shape": "String"},
        "ServiceId": {"shape": "String"},
        "ServiceName": {"shape": "String"},
        "ServiceClass": {"shape": "String"},
        "ServiceType": {"shape": "String"},
        "ServiceDeleted": {"shape": "Boolean"},
        "Status": {"shape": "String"},
        "Time": {"shape": "Integer"},
        "Databases": {"shape": "DatabaseBackupList"}
      }
    },
    "BackupSettings": {
      "type": "structure",
      "required": [
        "Enabled",
        "StartTime",
        "BucketName",
        "UserLogin"
      ],
      "members": {
        "Enabled": {"shape": "Boolean"},
        "StartTime": {"shape": "Integer"},
        "BucketName": {"shape": "String"},
        "UserLogin": {"shape": "String"},
        "NotificationEmail": {"shape": "String"}
      }
    },
    "Boolean": {"type": "boolean"},
    "CreateServiceRequest": {
      "type": "structure",
      "required": [
        "Name",
        "ServiceClass",
        "ServiceType",
        "SecurityGroupIds",
        "RootVolumeType",
        "RootVolumeSize",
        "InstanceType",
        "HighAvailability",
        "Parameters"
      ],
      "members": {
        "Name": {"shape": "String"},
        "ServiceClass": {"shape": "String"},
        "ServiceType": {"shape": "String"},
        "SubnetIds": {"shape": "StringList"},
        "NetworkInterfaceIds": {"shape": "StringList"},
        "SecurityGroupIds": {"shape": "StringList"},
        "RootVolumeType": {"shape": "String"},
        "RootVolumeSize": {"shape": "Integer"},
        "RootVolumeIops": {"shape": "Integer"},
        "DataVolumeType": {"shape": "String"},
        "DataVolumeSize": {"shape": "Integer"},
        "DataVolumeIops": {"shape": "Integer"},
        "InstanceType": {"shape": "String"},
        "HighAvailability": {"shape": "Boolean"},
        "InstanceQty": {"shape": "Integer"},
        "SshKeyName": {"shape": "String"},
        "Parameters": {"shape": "None"},
        "UserData": {"shape": "String"},
        "UserDataContentType": {"shape": "String"},
        "BackupSettings": {"shape": "BackupSettings"},
        "ArbitratorRequired": {"shape": "Boolean"}
      }
    },
    "CreateServiceResponse": {
      "type": "structure",
      "members": {
        "Service": {
          "shape": "Service",
          "documentation": "<p>The full description of your new service.</p>"
        }
      }
    },
    "Database": {
      "type": "structure",
      "required": [
        "Name",
        "Users"
      ],
      "members": {
        "Name": {"shape": "String"},
        "BackupEnabled": {"shape": "Boolean"},
        "Parameters": {"shape": "None"},
        "Users": {"shape": "UserList"}
      }
    },
    "DatabaseBackup": {
      "type": "structure",
      "members": {
        "Name": {"shape": "String"},
        "ServiceName": {"shape": "String"},
        "ServiceId": {"shape": "String"},
        "BackupId": {"shape": "String"},
        "Size": {"shape": "Integer"},
        "Status": {"shape": "String"},
        "Parameters": {"shape": "None"},
        "Logfile": {"shape": "String"},
        "Location": {"shape": "String"}
      }
    },
    "DatabaseBackupList": {
      "type": "list",
      "member": {"shape": "DatabaseBackup"}
    },
    "DatabaseList": {
      "type": "list",
      "member": {"shape": "Database"}
    },
    "DeleteBackupsRequest": {
      "type": "structure",
      "required": [
        "ServiceId"
      ],
      "members": {
        "ServiceId": {
          "shape": "String",
          "documentation": "<p>The ID of the service.</p>",
          "location": "uri",
          "locationName": "service_id"
        },
        "BackupIds": {
          "shape": "StringList",
          "documentation": "<p>The IDs of backups to delete.</p>"
        }
      }
    },
    "DeleteBackupsResponse": {
      "type": "structure",
      "members": {

      }
    },
    "DeleteServiceRequest": {
      "type": "structure",
      "required": [
        "ServiceId",
        "DeleteInterfaces"
      ],
      "members": {
        "ServiceId": {
          "shape": "String",
          "documentation": "<p>The ID of the service to delete.</p>",
          "location": "uri",
          "locationName": "ServiceId"
        },
        "DeleteInterfaces": {
          "shape": "Boolean",
          "documentation": "<p>Delete interfaces with service.</p>"
        }
      }
    },
    "DeleteServiceResponse": {
      "type": "structure",
      "members": {
        "Service": {
          "shape": "Service",
          "documentation": "<p>The full description of the service to delete.</p>"
        }
      }
    },
    "DescribeBackupRequest": {
      "type": "structure",
      "required": [
        "BackupId"
      ],
      "members": {
        "BackupId": {
          "shape": "String",
          "documentation": "<p>The ID of the service to describe.</p>",
          "location": "uri",
          "locationName": "BackupId"
        }
      }
    },
    "DescribeBackupResponse": {
      "type": "structure",
      "members": {
        "Backup": {
          "shape": "Backup",
          "documentation": "<p>The full description of your specified backup.</p>"
        }
      }
    },
    "DescribeServiceRequest": {
      "type": "structure",
      "required": [
        "ServiceId"
      ],
      "members": {
        "ServiceId": {
          "shape": "String",
          "documentation": "<p>The ID of the service to describe.</p>",
          "location": "uri",
          "locationName": "ServiceId"
        }
      }
    },
    "DescribeServiceResponse": {
      "type": "structure",
      "members": {
        "Service": {
          "shape": "Service",
          "documentation": "<p>The full description of your specified service.</p>"
        }
      }
    },
    "Instance": {
      "type": "structure",
      "members": {
        "Role": {"shape": "String"},
        "InstanceId": {"shape": "String"},
        "PrivateIp": {"shape": "String"},
        "InterfaceId": {"shape": "String"},
        "Status": {"shape": "String"},
        "Index": {"shape": "Integer"},
        "Endpoint": {"shape": "String"},
        "Name": {"shape": "String"}
      }
    },
    "InstanceList": {
      "type": "list",
      "member": {"shape": "Instance"}
    },
    "Integer": {"type": "integer"},
    "ListBackupsRequest": {
      "type": "structure",
      "members": {
        "ServiceClass": {
          "shape": "String",
          "documentation": "<p>The service class filter.</p>"
        },
        "ServiceType": {
          "shape": "String",
          "documentation": "<p>The service type filter.</p>"
        },
        "ServiceId": {
          "shape": "String",
          "documentation": "<p>The service ID filter.</p>"
        }
      }
    },
    "ListBackupsResponse": {
      "type": "structure",
      "members": {
        "Backups": {
          "shape": "StringList",
          "documentation": "<p>A list of all backups for your account in the specified Region.</p>"
        }
      }
   },
    "ListServicesRequest": {
      "type": "structure",
      "members": {
        "ServiceClass": {
          "shape": "String",
          "documentation": "<p>The service class filter.</p>"
        },
        "ServiceType": {
          "shape": "String",
          "documentation": "<p>The service type filter.</p>"
        }
      }
    },
    "ListServicesResponse": {
      "type": "structure",
      "members": {
        "Services": {
          "shape": "StringList",
          "documentation": "<p>A list of all of the services for your account in the specified Region.</p>"
        }
      }
   },
    "ModifyServiceRequest": {
      "type": "structure",
      "required": [
        "ServiceId"
      ],
      "members": {
        "ServiceId": {
          "shape": "String",
          "documentation": "<p>The service ID to modify.</p>",
          "location": "uri",
          "locationName": "ServiceId"
        },
        "Users": {"shape": "UserList"},
        "Databases": {"shape": "DatabaseList"},
        "BackupSettings": {"shape": "BackupSettings"}
      }
    },
    "ModifyServiceResponse": {
      "type": "structure",
      "members": {
        "Service": {
          "shape": "Service",
          "documentation": "<p>The full description of your modified service.</p>"
        }
      }
    },
    "None": {"type": "none"},
    "SecurityGroup": {
      "type": "structure",
      "members": {
        "Id": {"shape": "String"},
        "CreatedAutomatically": {"shape": "Boolean"}
      }
    },
    "SecurityGroupList": {
      "type": "list",
      "member": {"shape": "SecurityGroup"}
    },
    "Service": {
      "type": "structure",
      "members": {
        "Id": {"shape": "String"},
        "Name": {"shape": "String"},
        "ServiceClass": {"shape": "String"},
        "ServiceType": {"shape": "String"},
        "SubnetIds": {"shape": "StringList"},
        "NetworkInterfaceIds": {"shape": "StringList"},
        "SecurityGroups": {"shape": "SecurityGroupList"},
        "RootVolumeType": {"shape": "String"},
        "RootVolumeSize": {"shape": "Integer"},
        "RootVolumeIops": {"shape": "Integer"},
        "DataVolumeType": {"shape": "String"},
        "DataVolumeSize": {"shape": "Integer"},
        "DataVolumeIops": {"shape": "Integer"},
        "InstanceType": {"shape": "String"},
        "HighAvailability": {"shape": "Boolean"},
        "SshKeyName": {"shape": "String"},
        "Parameters": {"shape": "None"},
        "Users": {"shape": "UserList"},
        "Databases": {"shape": "DatabaseList"},
        "Status": {"shape": "String"},
        "ErrorCode": {"shape": "String"},
        "ErrorDescription": {"shape": "String"},
        "Endpoints": {"shape": "StringList"},
        "Instances": {"shape": "InstanceList"},
        "SupportedFeatures": {"shape": "StringList"},
        "BackupSettings": {"shape": "BackupSettings"},
        "TotalCpuCount": {"shape": "Integer"},
        "TotalMemory": {"shape": "Integer"}
      }
    },
    "String": {"type": "string"},
    "StringList": {
      "type": "list",
      "member": {"shape": "String"}
    },
    "Timestamp": {"type": "timestamp"},
    "User": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {"shape": "String"},
        "Parameters": {"shape": "None"}
      }
    },
    "UserList": {
      "type": "list",
      "member": {"shape": "User"}
    }
  }
}
