{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2022-09-06",
    "endpointPrefix": "paas",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS PaaS",
    "serviceId": "PaaS",
    "signatureVersion": "v4",
    "uid": "paas-2022-09-06"
  },
  "operations": {
    "CreateService": {
      "name": "CreateService",
      "http": {
        "method": "PUT",
        "requestUri": "/services"
      },
      "input": {"shape": "CreateServiceRequest"},
      "output": {"shape": "CreateServiceResponse"},
      "documentation": "<p>Creates service.</p>"
    },
    "DeleteBackups": {
      "name": "DeleteBackups",
      "http": {
        "method": "DELETE",
        "requestUri": "services/{service_id}/backups"
      },
      "input": {"shape": "DeleteBackupsRequest"},
      "output": {"shape": "DeleteBackupsResponse"},
      "documentation": "<p>Deletes service backups.</p>"
    },
    "DeleteService": {
      "name": "DeleteService",
      "http": {
        "method": "DELETE",
        "requestUri": "/services/{service_id}"
      },
      "input": {"shape": "DeleteServiceRequest"},
      "output": {"shape": "DeleteServiceResponse"},
      "documentation": "<p>Deletes service.</p>"
    },
    "DescribeBackup": {
      "name": "DescribeBackup",
      "http": {
        "method": "GET",
        "requestUri": "/backups/{backup_id}"
      },
      "input": {"shape": "DescribeBackupRequest"},
      "output": {"shape": "DescribeBackupResponse"},
      "documentation": "<p>Returns descriptive information about backup.</p>"
    },
    "DescribeService": {
      "name": "DescribeService",
      "http": {
        "method": "GET",
        "requestUri": "/services/{service_id}"
      },
      "input": {"shape": "DescribeServiceRequest"},
      "output": {"shape": "DescribeServiceResponse"},
      "documentation": "<p>Returns descriptive information about PaaS service.</p>"
    },
    "ListBackups": {
      "name": "ListBackups",
      "http": {
        "method": "GET",
        "requestUri": "/backups"
      },
      "input": {"shape": "ListBackupsRequest"},
      "output": {"shape": "ListBackupsResponse"},
      "documentation": "<p>Lists backups.</p>"
    },
    "ListServices": {
      "name": "ListServices",
      "http": {
        "method": "GET",
        "requestUri": "/services"
      },
      "input": {"shape": "ListServicesRequest"},
      "output": {"shape": "ListServicesResponse"},
      "documentation": "<p>Lists PaaS services.</p>"
    },
    "ModifyService": {
      "name": "ModifyService",
      "http": {
        "method": "POST",
        "requestUri": "/services/{service_id}"
      },
      "input": {"shape": "ModifyServiceRequest"},
      "output": {"shape": "ModifyServiceResponse"},
      "documentation": "<p>Modifies PaaS service.</p>"
    }
  },
  "shapes": {
    "Backup": {
      "type": "structure",
      "members": {
        "id": {"shape": "String"},
        "service_id": {"shape": "String"},
        "service_name": {"shape": "String"},
        "service_class": {"shape": "String"},
        "service_type": {"shape": "String"},
        "service_deleted": {"shape": "Boolean"},
        "status": {"shape": "String"},
        "time": {"shape": "Integer"},
        "databases": {"shape": "DatabaseBackupList"}
      }
    },
    "BackupSettings": {
      "type": "structure",
      "required": [
        "enabled",
        "start_time",
        "bucket_name",
        "user_login"
      ],
      "members": {
        "enabled": {"shape": "Boolean"},
        "start_time": {"shape": "Integer"},
        "bucket_name": {"shape": "String"},
        "user_login": {"shape": "String"},
        "notification_email": {"shape": "String"}
      }
    },
    "Boolean": {"type": "boolean"},
    "CreateServiceRequest": {
      "type": "structure",
      "required": [
        "name",
        "service_class",
        "service_type",
        "security_groups",
        "root_volume_type",
        "root_volume_size",
        "instance_type",
        "highly_available",
        "parameters"
      ],
      "members": {
        "name": {"shape": "String"},
        "service_class": {"shape": "String"},
        "service_type": {"shape": "String"},
        "subnets": {"shape": "StringList"},
        "network_interfaces": {"shape": "StringList"},
        "security_groups": {"shape": "StringList"},
        "root_volume_type": {"shape": "String"},
        "root_volume_size": {"shape": "Integer"},
        "root_volume_iops": {"shape": "Integer"},
        "data_volume_type": {"shape": "String"},
        "data_volume_size": {"shape": "Integer"},
        "data_volume_iops": {"shape": "Integer"},
        "instance_type": {"shape": "String"},
        "highly_available": {"shape": "Boolean"},
        "instance_qty": {"shape": "Integer"},
        "keypair": {"shape": "String"},
        "parameters": {"shape": "None"},
        "user_data": {"shape": "String"},
        "user_data_content_type": {"shape": "String"},
        "users": {"shape": "UserList"},
        "databases": {"shape": "DatabaseList"},
        "backup_settings": {"shape": "BackupSettings"},
        "arbitrator_required": {"shape": "Boolean"}
      }
    },
    "CreateServiceResponse": {
      "type": "structure",
      "members": {
        "service": {
          "shape": "Service",
          "documentation": "<p>The full description of your new service.</p>"
        }
      }
    },
    "Database": {
      "type": "structure",
      "required": [
        "name",
        "users"
      ],
      "members": {
        "name": {"shape": "String"},
        "backup_enabled": {"shape": "Boolean"},
        "parameters": {"shape": "None"},
        "users": {"shape": "UserList"}
      }
    },
    "DatabaseBackup": {
      "type": "structure",
      "members": {
        "name": {"shape": "String"},
        "service_name": {"shape": "String"},
        "service_id": {"shape": "String"},
        "backup_id": {"shape": "String"},
        "size": {"shape": "Integer"},
        "status": {"shape": "String"},
        "parameters": {"shape": "None"},
        "logfile": {"shape": "String"},
        "location": {"shape": "String"}
      }
    },
    "DatabaseBackupList": {
      "type": "list",
      "member": {"shape": "DatabaseBackup"}
    },
    "DatabaseList": {
      "type": "list",
      "member": {"shape": "Database"}
    },
    "DeleteBackupsRequest": {
      "type": "structure",
      "required": [
        "service_id"
      ],
      "members": {
        "service_id": {
          "shape": "String",
          "documentation": "<p>The ID of the service.</p>",
          "location": "uri",
          "locationName": "service_id"
        },
        "backup_ids": {
          "shape": "StringList",
          "documentation": "<p>The IDs of backups to delete.</p>"
        }
      }
    },
    "DeleteBackupsResponse": {
      "type": "structure",
      "members": {

      }
    },
    "DeleteServiceRequest": {
      "type": "structure",
      "required": [
        "service_id",
        "delete_interfaces"
      ],
      "members": {
        "service_id": {
          "shape": "String",
          "documentation": "<p>The ID of the service to delete.</p>",
          "location": "uri",
          "locationName": "name"
        },
        "delete_interfaces": {
          "shape": "Boolean",
          "documentation": "<p>Delete interfaces with service.</p>"
        }
      }
    },
    "DeleteServiceResponse": {
      "type": "structure",
      "members": {
        "service": {
          "shape": "Service",
          "documentation": "<p>The full description of the service to delete.</p>"
        }
      }
    },
    "DescribeBackupRequest": {
      "type": "structure",
      "required": [
        "backup_id"
      ],
      "members": {
        "backup_id": {
          "shape": "String",
          "documentation": "<p>The ID of the service to describe.</p>",
          "location": "uri",
          "locationName": "backup_id"
        }
      }
    },
    "DescribeBackupResponse": {
      "type": "structure",
      "members": {
        "backup": {
          "shape": "Backup",
          "documentation": "<p>The full description of your specified backup.</p>"
        }
      }
    },
    "DescribeServiceRequest": {
      "type": "structure",
      "required": [
        "service_id"
      ],
      "members": {
        "service_id": {
          "shape": "String",
          "documentation": "<p>The ID of the service to describe.</p>",
          "location": "uri",
          "locationName": "name"
        }
      }
    },
    "DescribeServiceResponse": {
      "type": "structure",
      "members": {
        "service": {
          "shape": "Service",
          "documentation": "<p>The full description of your specified service.</p>"
        }
      }
    },
    "Instance": {
      "type": "structure",
      "members": {
        "role": {"shape": "String"},
        "instance_id": {"shape": "String"},
        "private_ip": {"shape": "String"},
        "interface_id": {"shape": "String"},
        "status": {"shape": "String"},
        "index": {"shape": "Integer"},
        "endpoint": {"shape": "String"},
        "name": {"shape": "String"}
      }
    },
    "InstanceList": {
      "type": "list",
      "member": {"shape": "Instance"}
    },
    "Integer": {"type": "integer"},
    "ListBackupsRequest": {
      "type": "structure",
      "members": {
         "service_class": {
          "shape": "String",
          "documentation": "<p>The service class filter.</p>"
        },
        "service_type": {
          "shape": "String",
          "documentation": "<p>The service type filter.</p>"
        },
        "service_id": {
          "shape": "String",
          "documentation": "<p>The service ID filter.</p>"
        }
      }
    },
    "ListBackupsResponse": {
      "type": "structure",
      "members": {
        "backups": {
          "shape": "StringList",
          "documentation": "<p>A list of all backups for your account in the specified Region.</p>"
        }
      }
   },
    "ListServicesRequest": {
      "type": "structure",
      "members": {
        "service_class": {
          "shape": "String",
          "documentation": "<p>The service class filter.</p>"
        },
        "service_type": {
          "shape": "String",
          "documentation": "<p>The service type filter.</p>"
        }
      }
    },
    "ListServicesResponse": {
      "type": "structure",
      "members": {
        "services": {
          "shape": "StringList",
          "documentation": "<p>A list of all of the services for your account in the specified Region.</p>"
        }
      }
   },
    "ModifyServiceRequest": {
      "type": "structure",
      "required": [
        "service_id"
      ],
      "members": {
        "service_id": {
          "shape": "String",
          "documentation": "<p>The service ID to modify.</p>"
        },
        "users": {"shape": "UserList"},
        "databases": {"shape": "DatabaseList"},
        "backup_settings": {"shape": "BackupSettings"}
      }
    },
    "ModifyServiceResponse": {
      "type": "structure",
      "members": {
        "service": {
          "shape": "Service",
          "documentation": "<p>The full description of your modified service.</p>"
        }
      }
    },
    "None": {"type": "none"},
    "SecurityGroup": {
      "type": "structure",
      "members": {
        "_id": {"shape": "String"},
        "created_automatically": {"shape": "Boolean"}
      }
    },
    "SecurityGroupList": {
      "type": "list",
      "member": {"shape": "SecurityGroup"}
    },
    "Service": {
      "type": "structure",
      "members": {
        "id": {"shape": "String"},
        "name": {"shape": "String"},
        "service_class": {"shape": "String"},
        "service_type": {"shape": "String"},
        "subnets": {"shape": "StringList"},
        "network_interfaces": {"shape": "StringList"},
        "security_groups": {"shape": "SecurityGroupList"},
        "root_volume_type": {"shape": "String"},
        "root_volume_size": {"shape": "Integer"},
        "root_volume_iops": {"shape": "Integer"},
        "data_volume_type": {"shape": "String"},
        "data_volume_size": {"shape": "Integer"},
        "data_volume_iops": {"shape": "Integer"},
        "instance_type": {"shape": "String"},
        "highly_available": {"shape": "Boolean"},
        "keypair": {"shape": "String"},
        "parameters": {"shape": "None"},
        "users": {"shape": "UserList"},
        "databases": {"shape": "DatabaseList"},
        "status": {"shape": "String"},
        "error_code": {"shape": "String"},
        "error_description": {"shape": "String"},
        "endpoints": {"shape": "StringList"},
        "instances": {"shape": "InstanceList"},
        "supported_features": {"shape": "StringList"},
        "backup_settings": {"shape": "BackupSettings"},
        "total_cpu_count": {"shape": "Integer"},
        "total_memory": {"shape": "Integer"}
      }
    },
    "String": {"type": "string"},
    "StringList": {
      "type": "list",
      "member": {"shape": "String"}
    },
    "Timestamp": {"type": "timestamp"},
    "User": {
      "type": "structure",
      "required": [
        "name"
      ],
      "members": {
        "name": {"shape": "String"},
        "parameters": {"shape": "None"}
      }
    },
    "UserList": {
      "type": "list",
      "member": {"shape": "User"}
    }
  }
}
